.listBox{
    height: 3em;
    background-color: var(--white-color);
    color: black;
    width: 90%;
    border-radius: 0.6em;
    justify-content:space-between;
    margin: 0 0 1em 1.5em;
    display: flex;
    padding: 0 1em 0 0;
    

}
.timeAndCheckBox{
    display: flex;
    justify-content: space-between;
    line-height: 3em;
    width: 6vw;

}
.iteam{
    padding: 0.6em 0 0 0;
    width: 100%;

    
}
.dotIcon{
    color: var(--blue-color);
    margin: 0.4em;
}